<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
		<thead>
			<tr>
				<th>|</th>
				<th>ID</th><th>|</th>
				<th>NAME</th><th>|</th>
				<th>EMAIL</th><th>|</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${user_key}">
				<td>|</td>
				<td th:text="${user.id}"></td><td>|</td>
				<td th:text="${user.name}"></td><td>|</td>
				<td th:text="${user.email}"></td><td>|</td>
			</tr>
		</tbody>
	</table>
</body>
</html> 